<div class="thank-you-page">
	<div class="container">
		<div class="thank-you-main col-md-10 col-md-offset-1">
			<h2>Thank you very much for applying</h2>
			<h4>We've received your application. If your qualifications are a good match, we'll reach out to you shortly!</h4>
		</div>
	</div>
</div>