<%= render 'layouts/page_layout' %>

	<section class="openings-first col-md-12">
		<div class="new-job-section">
			<h1 class="category-header">New Opening</h1>
				<div class="new-job-form">
				<p class="job-details-header">Enter Job Details</p>
				<%= render 'create_new_job_form' %>
			</div>
		</div>
	</section>

<%= render 'layouts/page_layout_closing_tags' %>



