<% content_for :title do %>New Job Opening<% end %>

<section class="openings-first col-md-12">
	<div class="new-job-section">
		<h1 class="category-header">New Job Opening</h1>
			<div class="new-job-form">
			<p class="job-details-header">Enter all of the job opening details below</p>
			<%= render 'create_new_job_form' %>
		</div>
	</div>
</section>