<div class="company-page">
	<div class="container">
		<div class="content">
			<%= render 'shared/side_nav' %>
			<div class="main">
				<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>
<div class="summernote"></div>
			</div>
		</div>
	</div>
</div>
