<div class="side-nav">
	<nav class="nav-buttons">
		<ul class="nav-list">
			<li><%= link_to 'home' do %>
				<img src="/assets/home.png" alt="">
				<span class="category">HOME</span>
			</li>
			<% end %>
			<li><%= link_to 'jobs' do %>
				<img src="/assets/position.png" alt="">
				<span class="category">JOBS</span>
			</li>
			<% end %>
			<li><%= link_to 'prospects' do %>
				<img src="/assets/prospects.png" alt="">
				<span class="category">PROSPECTS</span>
			</li>
			<% end %>
			<li>
				<%= link_to 'pipeline' do %>
				<img src="/assets/pipeline.png" alt="">
				<span class="category">PIPELINE</span>
			</li>
			<% end %>
		</ul>
	</nav>
</div>