<div class="side-nav col-md-1">
	<nav class="nav-buttons">
		<ul class="nav-list">
<!-- 			<li><%#= link_to home_company_url(current_user.company) do %>
				<img src="/assets/home.png" alt="">
				<span class="category">HOME</span>
			</li>
			<%# end %> -->
			<li><%= link_to company_jobs_url(current_user.company) do %>
				<img src="/assets/position.png" alt="">
				<span class="category">JOBS</span>
			</li>
			<% end %>
			<li><%= link_to company_prospects_url(current_user.company) do %>
				<img src="/assets/prospects.png" alt="">
				<span class="category">PROSPECTS</span>
			</li>
			<% end %>
<!-- 			<li>
				<%#= link_to pipeline_company_url(current_user.company) do %>
				<img src="/assets/pipeline.png" alt="">
				<span class="category">PIPELINE</span>
			</li> -->
			<%# end %>
		</ul>
	</nav>
</div>