<div class="homepage">


	<div class="home-top-section row">
		<div class="container">
			<div class="home-header col-md-10 col-md-offset-1">
				<h1 class="col-md-9">We make hiring simple and hassle-free</h1>
<!-- 				<p class="home-subheader">Stop dealing with bloated and expensive HR suites and let us help you find your next superstar employee. Simple, easy-to-use applicant tracking, without all the clutter.</p> -->
			</div>
		</div>
	</div>

<!-- 	<div class="home-second-section row">
		<div class="container">
			<h4 class="home-second-section-header col-md-8 col-md-offset-2"></h4>
			<p>Just sign up and go, no unnecessary sales calls and no unclear pricing tiers. </p>
		</div>
	</div> -->

	<section class="home-third row">
		<div class="container">
			<h3 class="company-home-header">Focus on filling openings, not creating them</h3>
			<h5 class="company-home-description col-md-10 col-md-offset-1">Creating a new opening takes a few minutes, so you have more time to focus on the most important part, filling it. This translates into better turnaround time, quicker applicant response rates, and an increased likelihood of your company's top honcho praising you for finding the next superstar employee.</h5>
			<img src="/assets/openings.jpg" alt="job-opening" class="image col-md-10 col-md-offset-1">
		</div>
	</section>

	<section class="home-fourth row">
		<div class="container">
			<h3 class="company-home-header">Sort through applicants with clarity and confidence</h3>
			<h5 class="company-home-description col-md-10 col-md-offset-1">We make the review process seamless by allowing you to easily screen resumes and cover letters. Rate and keep detailed notes, then use single-click accept/reject. No more flipping through binders and spreadsheet tabs, now all of your applicants' information and decision-making is on one page.</h5>
			<img src="/assets/applicant_profile.jpg" alt="applicant-profile" class="image col-md-10 col-md-offset-1">
		</div>
	</section>

	<section class="home-fifth row">
		<div class="container">
			<h3 class="company-home-header">Keep up with your company's growth</h3>
			<h5 class="company-home-description col-md-10 col-md-offset-1">Don't just stash old applications and slow down company growth. Quickly sort through past applicants to fill a new opening, so that you'll always have a list of prospects for immediate future hires.</h5>
			<img src="/assets/prospects.jpg" alt="prospects-list" class="image col-md-10 col-md-offset-1">
		</div>
	</section>

	<section class="signup">
		<h3>Start hassle-free hiring</h3>
		<p class="signup-link"><%= link_to 'Sign up for a free trial!', new_user_registration_path %></p>
	</section>
	
</div>
