<div class="homepage">

	<div class="container">
		<div class="home-top-section row">
			<div class="home-header col-md-10 col-md-offset-1">
				<h1>Hire smarter</h1>
				<p class="home-subheader">Simple, easy-to-use applicant tracking, without all the clutter</p>
<!-- s -->
			</div>
		</div>
	</div>

	<div class="home-second-section row">
		<div class="container">
			<h4 class="home-second-section-header col-md-8 col-md-offset-2">We know you have enough to worry about. Stop dealing with bloated and expensive HR suites and let us help you find your next superstar employee.</h4>
<!-- 			<p>Hiring should be exciting, not a hassle</p>
			<p>Our belief is that HR software should be intuitive, without the need to take a training courses to learn it.</p> -->
		</div>
	</div>

</div>
