<div class="homepage">

	<div class="container">
		<div class="home-top-section">
			<div class="home-header">
				<h1>Hiring the best employees shouldn't be hard. We make it easy.</h1>
				<p class="home-subheader">Simple, easy-to-use applicant tracking tools, built with you in mind</p>
				<input type="checkbox" id="switch" name="switch" class="fancybox">
  			<label for="switch" class="switch" id="switch-form"></label>
  			<img src="/assets/arrow.png" alt="" class:"arrow">
  			<p class="flip-switch-text">Flip the switch to start your 14-day free trial!</p>
				<%#= link_to 'Start EasyHire free for 14 days', '#', class: "btn homepage-free-trial-button" %>
			</div>
		</div>
	</div>

	<div class="home-second-section">
		<h3>Born out of necessity</h3>
		<p>Hiring should be exciting, not a hassle</p>
		<p>Our belief is that HR software should be intuitive, without the need to take a training courses to learn it.</p>
	</div>
 
<!-- 				<div style="display:none;">
				  <div id="switch">
				  	Hi
				  </div>
				</div> -->



</div>
