<div class="homepage">


	<div class="home-top-section row">
		<div class="container">
			<div class="home-header col-md-10 col-md-offset-1">
				<h1>Hire smarter</h1>
				<p class="home-subheader">Stop dealing with bloated and expensive HR suites and let us help you find your next superstar employee. Simple, easy-to-use applicant tracking, without all the clutter.</p>
			</div>
		</div>
	</div>

<!-- 	<div class="home-second-section row">
		<div class="container">
			<h4 class="home-second-section-header col-md-8 col-md-offset-2"></h4>
			<p>Just sign up and go, no unnecessary sales calls and no unclear pricing tiers. </p>
		</div>
	</div> -->

	<section class="home-third row">
		<div class="container">
			<h3 class="company-home-header">Create a new opening</h3>
			<h5 class="company-home-description col-md-10 col-md-offset-1">Easily create new job openings. Every job opening receives a unique link to its' application page that you can post on your website or any job board you would like.</h5>
			<img src="/assets/openings.jpg" alt="job-opening" class="image col-md-10 col-md-offset-1">
		</div>
	</section>

	<section class="home-fourth row">
		<div class="container">
			<h3 class="company-home-header">View, rate, and decide on individual applicants</h3>
			<h5 class="company-home-description col-md-10 col-md-offset-1">We make the review process seamless by allowing you to easily screen resumes and cover letters. Rate them and keep detailed notes, then decide whether you want to keep the applicant or immediately reject him/her for the opening with a single click. </h5>
			<img src="/assets/applicant_profile.jpg" alt="applicant-profile" class="image col-md-10 col-md-offset-1">
		</div>
	</section>

	<section class="home-fifth row">
		<div class="container">
			<h3 class="company-home-header">View all past applicants</h3>
			<h5 class="company-home-description col-md-10 col-md-offset-1">Don't just stash old applications. Quickly sort through past applicants to fill a new opening, so that you'll always have a list of prospects for quick future hires.</h5>
			<img src="/assets/prospects.jpg" alt="prospects-list" class="image col-md-10 col-md-offset-1">
		</div>
	</section>

	<section class="signup">
		<p class="signup-link col-md-offset-5"><%= link_to 'Sign up for free trial!', new_user_registration_path %></p>
	</section>
	
</div>
