<div class="homepage">

	<div class="container">
		<div class="home-top-section row">
			<div class="home-header col-md-10 col-md-offset-1">
				<h1>Hiring the best employees shouldn't be hard. We make it easy.</h1>
				<p class="home-subheader">Simple, easy-to-use applicant tracking tools, built with you in mind</p>
				<input type="checkbox" id="switch" name="switch" class="fancybox">
  			<label for="switch" class="switch" id="switch-form"></label>
  			<img src="/assets/arrow.png" alt="" class:"arrow">
  			<p class="flip-switch-text">Flip the switch to start your 14-day free trial!</p>
			</div>
		</div>
	</div>

	<div class="home-second-section row">
		<div class="container">
			<h4 class="home-second-section-header col-md-8 col-md-offset-2">If you're frustrated with bloated and expensive HR suites and want a simpler way to manage your applicant tracking process, you're going to love EasyHire</h4>
<!-- 			<p>Hiring should be exciting, not a hassle</p>
			<p>Our belief is that HR software should be intuitive, without the need to take a training courses to learn it.</p> -->
		</div>
	</div>

</div>
