<%= render 'layouts/page_layout' %>

	<section class="home-first">
		<div class="intro">
			<h1>Hi <%= current_user.name.capitalize %></h1>
			<h4>We're here to help you find, recruit, and filter the best candidates for your team. Here are some steps to help you get started.</h4>
		</div>
	</section>

	<section class="home-second">
		<div>
			<h3 class="company-home-header">Create a new opening</h3>
			<h5 class="company-home-description col-md-10 col-md-offset-1">Create a new job opening by clicking on the "JOBS" tab on the left. You can view all current active and inactive openings, as well as create new ones and track applicants for every role you create.</h5>
			<img src="/assets/create_opening.png" alt="job-opening" class="create-opening-image-1 col-md-10 col-md-offset-1">
		</div>
	</section>

	<section class="home-third">
		<div>
			<h3 class="company-home-header">View job applicants</h3>
			<h5 class="company-home-description col-md-10 col-md-offset-1">View applicants for a specific role.</h5>
			<img src="/assets/create_opening.png" alt="job-opening" class="create-opening-image-1 col-md-10 col-md-offset-1">
		</div>
	</section>

<%= render 'layouts/page_layout_closing_tags' %>
