<%= render 'layouts/page_layout' %>

<section class="home-first">
	<div class="intro">
		<h1>Hi</h1>
		<h4>Easy Hire is here to help you find, recruit, and filter the best candidates for your team. Here are some steps to help you get started.</h4>
	</div>
</section>

<section class="home-second">
	<div class="intro">
		
	</div>
</section>

<%= render 'layouts/page_layout_closing_tags' %>
