<div class="company-page">
	<div class="container">
		<div class="content">
			<%= render 'shared/side_nav' %>
			<div class="main">
				<section class="home-first col-md-12">
					<div class="intro">
						<h1>Hi</h1>
						<h4>Easy Hire is here to help you find, recruit, and filter the best candidates for your team. Here are some steps to help you get started.</h4>
						
					</div>
				</section>
				<section class="home-second">
					<div class="intro">
						
					</div>

				</section>
			</div>
		</div>
	</div>
</div>
