@import "bootstrap";

$teal: #aadddd;
$darkteal: #55B4B0;

%form-fields {
  width: 50%;
  border-radius: 3px;
  border: 1px solid #C0C0C0;
  padding: 8px 6px 6px 6px;
  line-height: 17px;
  margin: 0 0 16px 0;
  font-family: AvenirLT-Heavy,Helvetica Neue,Helvetica,Arial,sans-serif;
}

%teal-button {
  background-color: $darkteal;
  padding: 10px 60px;
  text-decoration: none;
  @extend %transition;
  border-radius: 4px;
  font-size: 16px;
  color: white;
  position: relative;
  float: right;
  margin-right: 60px;
  margin-top: 10px;
  border-bottom: 3px solid darken($darkteal, 10%);

  &:hover {
    background-color: darken($darkteal, 5%);
  }
}

%transition {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

%homepageheaders {
  text-align: center;
  background-color: #666688;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 3px;
  opacity: .8;
}

body, html {
  -webkit-font-smoothing: antialiased;
  background-color: #f8f9fb;
}

a {
text-decoration: none;
background-color: transparent;

  &:hover {
    background-color: transparent;
  }
}

.container {
  // min-height:100%;
}

.navbar-fixed-top {
  position: absolute;
}
.navbar-inverse {
  border-bottom: none;

  img {
    height: 40px;
    width: 40px;
    display: inline-block;
    float: left;
    margin-top: 5px;
    margin-left: 40px;
  }

  .navbar-brand {
    font-size: inherit;
    color: gray;
    margin-right: 15px;
    font-weight: bold;
    font-size: 12px;

    &:hover {
      color: darken($teal, 20%);
      background-color: #f9f9f9;
    }
  }

  .navbar-nav {
    float: right;
    font-weight: bold;
    font-size: 12px;

    .trial-time-left {
      margin-right: 15px;

      a {
        @extend %transition;
        color: #ff6666;
        font-weight: bold;
        border: 1px solid #ff6666;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 10px;
        border-radius:28px;
      
        &:hover {
          background-color: darken(#ff6666, 10%);
        }
      }
    }

    .login-logout-link {
      color: gray;
      @extend %transition;
      
      .login-logout-link:hover {
        color: darken($teal, 20%);
        background-color: #f9f9f9;
      }
    }

    li.signup-link {
      margin-right: 15px;

      a {
        @extend %transition;
        color: white;
        font-weight: bold;
        background-color: #ff6666;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 10px;
        border-radius:5px;
      
        &:hover {
          background-color: darken(#ff6666, 10%);
        }
      }
    }
  }
}

.alert {
  margin-bottom: 0px;
  margin-top: 50px;
  text-align: center;
}

span {
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

img {
  @extend .img-responsive;
  margin: 0 auto;
  }

ul {
  list-style: none;
  padding:0;
}

label {
  display: block;
}
.navbar {
  margin-bottom: 0px;
  background-color: white;
}

.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }

.signup-page, .edit-user-page, .signin-page {
  background-color: #f8f9fb;
}

.authform {
  padding-top: 30px;
  max-width: 320px;
  margin: 0 auto;
  margin-top: 40px;
}
.authform form {
  @extend .well;
  @extend .well-lg;
  padding-bottom: 50px;
  background-color: $darkteal;
  border-radius: 0px;
  border: none;
  color: white;

  a {
    text-decoration: none;
    background-color: none;
    color: white;

    &:hover {
      background-color: transparent;
    }
  }
  h3 {
    margin-top: 0px;
    margin-bottom: 30px;
    text-align: center;
  }
}
.authform .right {
  float: right !important;
}
.authform .button {
  @extend .btn;
  width: 272px;
  border-radius: 0px;
  border: none;
  background-color: #666688;
  @extend %transition;
  &:hover {
    background-color: lighten(#666688, 10%);
    color: white;
  }
}
.authform fieldset {
  @extend .well;
}

// #error_explanation {
//   @extend .alert;
//   @extend .alert-danger;
// }
// #error_explanation h2 {
//   font-size: 16px;
// }
.button-xs {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-xs;
}

.new-job-form {
  background-color: #f8f9fb;
}

// HOMEPAGE

.home {

  .home-top-section {
    margin-top: 50px;
    height: 480px;
    color: white;
    background-image: url(http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_52b6b4db7397c_1.JPG);
    // background-image: url(http://graphics8.nytimes.com/images/2013/09/22/magazine/22well/22well-superJumbo-v2.jpg);
    background-repeat: no-repeat;
    background-position: 0px -200px;
    background-size: 100%;

    .home-header {

      h1 {
        @extend %homepageheaders;
        margin-bottom: 40px;
        font-family: 'Noto Sans', sans-serif;
      }

      .home-subheader {
        @extend %homepageheaders;
        width: 700px;
        font-size: 20px;
        line-height: 26px;
      }
    }
  }

  // .home-second-section {
  //   background-color: white;
  //   color: black;
  //   // height: 200px;

  //   .home-second-section-header {
  //     line-height: 30px;
  //     text-align: center;
  //     margin-top: 30px;
  //     float: none;
  //   }
  // }

  section.home-second, section.home-third, section.home-fourth, section.home-fifth{
    // border-bottom: 1px solid #ddd;
    height: 800px;

    h4 {
      text-align: center;
      margin-top: 50px;
      color: #666688;
      font-size: 26px;
    }

    .company-home-header {
      text-align: center;
      margin-top: 20px;
      position: relative;
      font-family: 'Noto Sans', sans-serif;
      font-weight: 600;
    }

    .company-home-description {
      text-align: center;
      font-family: 'Noto Sans', sans-serif;
      line-height: 24px;
      font-size: 16px;
    }

    .image {
      margin-top: 40px;
      border-bottom: 2px solid #eee;
    }
  }
  
  .homepage-link {
    display: inline-block;
    text-align: center;
    margin: 0 auto;

    a {
      color: $darkteal;
      text-decoration: none;
      background-color: none;
      font-size: 16px;

      &:hover {
        background-color: transparent;
        color: lighten($darkteal, 10%);
      }
    }
  }

  section.home-fourth {
    height: 850px;
  }

  section.signup {
    height: 140px;

    h3 {
      text-align: center;
      margin-bottom: 30px;
    }

  .signup-link {
    text-align: center;

      a {
        @extend %transition;
        color: white;
        font-weight: bold;
        background-color: #ff6666;
        padding: 15px 65px;
        border-radius:5px;
      
        &:hover {
          background-color: darken(#ff6666, 10%);
          cursor: pointer;
          text-decoration: none;
        }
      }
    }
  }
}

// APPLICATION PAGES

.application {
  background-color: #f8f9fb;
}

.content {
  margin-top: 88px;

  .main {
    -webkit-box-shadow: 0 2px 3px rgba(56,67,67,0.2);
    -moz-box-shadow: 0 2px 3px rgba(56,67,67,0.2);
    box-shadow: 0 2px 3px rgba(56,67,67,0.2);
    background: white;
    border: 1px solid #dfdfdf;
    border-top: 4px solid $darkteal;
    border-radius: 4px;
    z-index: 100;
    position: relative;
    min-height: 800px;
    margin-bottom: 30px;

    section.home-first {
      height: 300px;
      border-bottom: 1px solid #ddd;

      .intro {
        padding: 0px;
        margin: 0 auto;
        margin-top: 90px;
        text-align: center;
        position: relative;

        h4 {
          width: 650px;
          margin: 0 auto;
          padding-top: 30px;
          line-height: 30px;
        }
      }
    }

    section.positions-first {
      min-height: 400px;
      position: relative;

      .openings {
        margin: 0 auto;
        position: relative;
        width: 924px;
        margin-top: 40px;

        .openings-count {
          display: inline-block;
          margin-left: 10px;
          background-color: #ddeeee;
          color: darken(#ddeeee, 60%);
          padding: 2px 6px;
          border-radius: 10px;
        }

        .blank-state {
          margin-top: 30px;
          background-image: url('/assets/job-openings-blank-state.jpg');
          height: 300px;
        }

        .new-opening-button {
          @extend %teal-button
        }

        .new-opening-button-blank-state {
          @extend %teal-button;
          float: left;
          margin-top: 120px;

          a {
            text-align: center;
          }
        }

        .current-header {
          margin-top: 100px;
          color: #444;
        }

        .positions-list {
          margin-top: 20px;

          ul {

            .position {
              min-height: 90px;
              padding: 14px 20px 25px 20px;
              border-bottom: 1px solid #D0D0D0;

              &:first-child {
                border-top: 1px solid #D0D0D0;
              }

              .job-title {
                font-size: 20px;
                display: inline;

                a {
                  @extend %transition;
                  color: $darkteal;
                  text-decoration: none;
                  background-color: transparent;

                  &:hover {
                    background-color: transparent;
                    color: lighten($darkteal, 10%);
                  }
                }
              }

              .applicant-info {
                height: 24px;
              }

              .no-applicants {
                margin-bottom: 0px;
                margin-top: 10px;
                color: gray;
                font-style: italic;
              }
            }

            .job-applicant {
              margin-left: 10px;
              margin-top: 2px;
              padding-top: 5px;
              font-size: 14px;
              float: none;

              a {
                @extend %transition;
                color: #444;

                &:hover {
                  color: black;
                  text-decoration: underline;
                }
              }
            }

            .application-status {
              margin-bottom: 0px;
              color: #666;
              display: inline-block;
            }

            .fa-star {
              color: #FFD700;
            }

            .live-status-true, .live-status-false {
              display: inline-block;
              float: right;
              margin: 0;
            }

            .live-status-true {
              color: #52cc52;
            }

            .live-status-false {
              color: #ff6666;
            }

            .job-code {
              display: inline-block;
              margin-bottom: 0px;
              color: #909090
            }

            .time-ago {
              float: right;
              color: #909090;
              margin-bottom: 0px;
            }

            .applications {
              padding-top: 12px;
              display: inline-block;

              a {
                color: $darkteal;
                text-decoration: none;
                background-color: none;

                &:hover {
                  background-color: transparent;
                  color: lighten($darkteal, 10%);
                }
              }
            }
          }
        }
      }
    }

    section.openings-first {
      height: 1250px;
      position: relative;

      .new-job-section {
        margin: 0 auto;
        position: relative;
        width: 924px;
        margin-top: 40px;

        .new-job-form {
          margin-top: 70px;
          background-color: #eee;
          height: 1050px;
          padding: 40px 30px;

          label {
            margin-top: 20px;
          }

          .job-details-header {
            font-size: 20px;
            font-weight: bold;
            font-family: 'Noto Sans', sans-serif;
          }
          
          .new-job-form-title {
            margin-bottom: 40px;
          }

          .new_job {
            margin-top: 40px;

            label {
              color: #666;
            }

            #job_title, #job_location, #job_department, #job_job_code, #job_additional_question1, #job_additional_question2, #job_additional_question3 {
              @extend %form-fields;
              height: 32px;
            }

            #job_employment_type {
              width: 200px;
              font-size: 22px;
            }

            #job_experience_level {
              font-size: 22px;
            }

            .job-submit {
              @extend %teal-button;
              margin-right: 0px;
              border-left: 0px;
              border-top: 0px;
              border-right: 0px;
            }
          }
        }
      }
    }

    section.job-description {
      position: relative;

      .back-to-openings-button {
        margin-top: 10px;
        display: inline-block;

        a{
          @extend %transition;
          text-decoration: none;
          background-color: none;

            &:hover {
              background-color: transparent;
              color: black;
            }
          }
        }
      

      .job-description-first {
        margin: 0 auto;
        position: relative;
        width: 924px;
        margin-top: 40px;

        // .save-job-button {
        //   @extend %teal-button;
        // }
        .edit-opening-button {
          @extend %teal-button
        }

        .status {
          display: inline-block;
          border-radius: 6px;
          box-shadow: inset 0 1px 2px rgba(black, .12),
            inset 0 0 2px rgba(black, .2);

          a {
            text-decoration: none;
            background-color: transparent;
            padding: 5px;
            text-transform: uppercase;
            font-size: 12px;
          }
        }

        .job-open {
          background: #f9f9f9;
          @extend %transition;
          color: #666;

          &:hover {
            background: darken(#f9f9f9, 5%);
          }

          a:hover {
            color: #666;
          }
        }

        .job-filled {
          background: #47a8d8;
          @extend %transition;

          a {
            color: white;
          }

          &:hover {
            background: darken(#47a8d8, 10%);
          }
        }

        .job-details-form {
          margin-top: 30px;
          background-color: white;
          min-height: 890px;
          padding: 40px 30px;
          display:inline

          p {
            display: inline-block;
          }

          .guess {
            padding-left: 0px;
          }

          .job-information {
            border-top: 1px solid #D8D8D8;
            border-bottom: 1px solid #D8D8D8;
            vertical-align: middle;
            margin-bottom: 35px;
            height: 28px;

            p:nth-child(3) {
              float: right;
              color: #909090;
              margin-bottom: 0px;
              padding-top:5px;
            }

            p:nth-child(-n+2) {
              margin-bottom: 0px;
              padding-top: 5px;
              padding-bottom: 5px;
              font-weight: bold;
              display: inline-block;
              @extend %transition;
              margin-right: 20px;
              color: $darkteal;

              a {
                color: $darkteal;
                text-decoration: none;
                background-color: none;

                &:hover {
                  background-color: transparent;
                  color: lighten($darkteal, 10%);
                }
              }
            }
          }

          .job-page-edit {
            display: inline;
          }

          .show-job-page-label {
            color: #B8B8B8;
            margin-bottom: 5px;
            font-weight: bold;
          }

          .job-info {
            margin-top: 10px;
            margin-bottom: 40px;
            font-size: 15px;
            display: inline-block;
          }

          .show-job-title {
            font-size: 26px;
          }

          .job-inactive-button {
            color: red;
            background:none;
            text-decoration: none;
            float: right;
            display: inline;

            &:hover {
              color: darken(red, 10%);
              text-decoration: underline;
            }
          }

          .my_clip_button {
            color: white;
            margin-top: 20px;
            border: none;
            background-color: #666688;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            font-family: AvenirLT-Heavy,Helvetica Neue,Helvetica,Arial,sans-serif;
            letter-spacing: 1px;
            height: 42px;
            margin-bottom: 60px;
          }
        }

        h4 {
          text-align: center;
          line-height: 24px;
        }

        .copy-url-text {
          text-align: center;
          padding: 10px 20px;
          border: 2px solid #666688;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
          font-size: 16px;
          margin-top: 20px;
          margin-bottom: 60px;
        }
      }
    }

    section.applicants {
      height: 400px;
      position: relative;

      .job-applicants {
        margin: 0 auto;
        position: relative;
        width: 924px;
        margin-top: 40px;

        .job-applicants-position {
          margin-top: 20px;
          color: #444;
          border-left: 3px solid $darkteal;
          padding-left: 10px;
          display: inline-block;
          margin-left: 20px;
        }

        .job-applicants-count {
          display: inline-block;
          margin-left: 10px;
          background-color: #ddeeee;
          // font-style: italic;
          color: darken(#ddeeee, 60%);
          padding: 2px 6px;
          border-radius: 10px;
        }

        a {
        text-decoration: none;
        background-color: none;
        color: #808080;
        @extend %transition;

          &:hover {
            background-color: transparent;
            color: #585858;
          }
        }

        .job-applicants-list {
          margin-top: 50px;

          .applicant-box {
            background-color: blue;
            height: 150px;
            margin-left: 49px;
            margin-bottom: 49px;
            -webkit-box-shadow: 0 2px 3px rgba(56,67,67,0.2);
            -moz-box-shadow: 0 2px 3px rgba(56,67,67,0.2);
            box-shadow: 0 2px 3px rgba(56,67,67,0.2);
            background: white;
            border: 1px solid #dfdfdf;
            border-top: 2px solid $darkteal;
            float: left;
            display: inline;
            border-radius: 4px;
            z-index: 100;

            .applicant-box-name {
              font-weight: bold;
              display: inline-block;
              color: #585858;
              font-family: 'Noto Sans', sans-serif;
            }

            .fa-star {
              float: right;
              color: #FFD700;
              margin-top: 10px;
              font-size: 18px;
            }
            .applicant-box-role {
              margin-bottom: 0px;
              color: #707070;
              font-size: 14px;
            }
            .applicant-box-city {
              color: gray;
              margin-top: 2px;
            }

            .applied-at-date {
              float: right;
              font-style: italic;
              vertical-align: bottom;
              margin-top: 35px;
            }

            &:hover {
              cursor: pointer;
              border-left: 1px solid $darkteal;
              border-bottom: 1px solid $darkteal ;
              border-right: 1px solid $darkteal ;
            }
          }
        }
      }
    }
  }
}

.category-header {
  font-size: 40px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  color: #444;
  font-style: normal;
  margin: 40px 10px 20px 0px;
  letter-spacing: normal;
  font-size: 54px;
  line-height: 60px;
  display: inline;
}

.openings-header {
  line-height: 24px;
  color: #5b5b5b;
  margin-bottom: 40px;
}

.side-nav {
  position: absolute;
  padding: 0px;
  width: 96px;

  .nav-buttons {
    padding-top: 30px;

    ul {

      li a {
        @extend %transition;
        color: #859090;
        display: block;
        font-family: 'Noto Sans', sans-serif;
        font-size: 12px;
        letter-spacing: 1px;
        padding: 21px 15px 21px 15px;
        margin: 0;
        text-align: center;
        line-height: 15px;
        text-decoration: none;
        border-bottom: 1px solid #ccc;

        &:hover {
          background-color: $darkteal;

          .category, .fa {
            color: white;
          }
        }

        .fa-cogs, .fa-users, .fa-folder-open {
          font-size: 30px;
          padding-bottom: 10px;
          color: #859090;;
        }
      }

      .job-opening-link {
        a:hover {
          color: white;
        }
      }
    }
  }
}

.note-editor .note-editable {
  background-color: white;
}

.application-page {

  .application-main {
    margin-top: 40px;

    .job-application-company {
      max-height: 150px;
      max-width: 150px;
      margin-bottom: 10px;
    }

    .job-application-title {
      margin-top: 60px;
      font-weight: 600;
      font-family:'Noto Sans', sans-serif;
      display: inline-block;
    }

    .job-application-info {
      display: inline-block;
      margin-right: 40px;
      color: #505050;
      font-size: 14px;
      font-family:'Noto Sans', sans-serif;

      .fa-map-marker {
        padding-left: 10px;
        padding-right: 5px;
      }
    }

    p:nth-child(3) {
      padding-top:15px;
    }

    .description {
      margin-top: 40px;
      margin-bottom: 50px;

      p {
      font-size: 16px;
      line-height: 26px;
      }
    }

    .apply-box {
      margin-top: 20px;
      margin-bottom: 100px;
      width: 100%;
      height: 700px;
      background-color: #f9f9f9;

      .apply-header {
        margin-left: 10px;
        margin-top: 10px;
        position: absolute;
        font-size: 14px;
        font-weight: 600;
        margin-top: 100px;
      }

      .apply-form {
        padding-top: 10px;

        .new_applicant {
          width: 600px;

          label {
            margin-top: 20px;
            display: inline-block;
            width: 200px;
            color: #515357;
            font-weight: 500;
            font-size: 14px;
          }

          #applicant_first_name, #applicant_last_name, #applicant_phone_number, #applicant_email_address, #applicant_current_job_role, #applicant_current_job_company, #applicant_current_job_city {
            @extend %form-fields;
            height: 38px;
            width: 380px;
            font-weight: 400;
            font-size: 14px;
            color: #515357;
          }

          #applicant_resume, #applicant_cover_letter {
            display: inline-block;
          }

          .job-submit {
            @extend %teal-button;
            margin-right: 0px;
            margin-top: 50px;
            border-left: 0px;
            border-top: 0px;
            border-right: 0px;
            float: none;
            -webkit-font-smoothing: antialiased;
          }
        }
      }
    }

    .application-page-footer {
      text-align: center;
      height: 40px;
      margin-bottom: 40px;
      border-top: 1px solid #ccc;

      a {
        background-color: transparent;
        text-decoration: none;
        color: #515357;

        &:hover {
          color: $darkteal;
        }
      }
    }
  }
}

%keep-accept-reject-buttons {
  @extend %teal-button;
  border-bottom: 0px;
  float: none;
  margin-right: 0px;
  display: inline-block;
}

.application-status-tags {

  .application-received, .in-progress, .decision-made, .accepted, .rejected {
    text-align: center;
    height: 30px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 600;
    padding-top: 5px;
    font-family:'Noto Sans', sans-serif;
  }

  .green {
    background-color: #52cc52;
    color: white;
  }

  .gray {
    color: #b7b7b7;
    border-bottom: 1px solid #b7b7b7;
  }

  .red {
    background-color: #ff3333;
    color: white;
  }
}



.applicant-profile {
  margin: 0 auto;
  position: relative;
  margin-top: 40px;

  .applicant-name {
    position: relative;
    margin: 0 auto;
    text-transform: uppercase;
    color: darken($darkteal, 20%);
  }

  .current-job {
    color: #333;
    margin-top: 10px;
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;
  }

  .contact-info {
    margin-right: 16px;
    display: inline;
    color: #333;
    font-family: 'Noto Sans', sans-serif;

      &:nth-child(4) {
      border-right: 1px solid gray;
      padding-right: 20px;
    }
  }

  .applicant-status-box {
    height: 117px;

    .applied-for-on, .job-deleted {
      text-align: center;
      font-family: 'Noto Sans', sans-serif;
      font-size: 16px;
    }

    .statuses-box {
      margin-left: 125px;
      width: 250px;

      .status {
        text-align: center;
        padding: 0px;
        width: 70px;
        display: inline-block;
      }
    }

    .buttons {
      margin: 0 auto;
      float: right;
      position: relative;
      margin-top: 10px;
      display: inline-block;
      top: 0;
      left: 0;

      &.stuck {
        position: fixed;
        width: 100%;
        top: 0;  
        margin: 0 auto;
        background-color: white;
        -webkit-box-shadow: rgba(0,0,0,0.05) 0 2px;
        z-index: 100;
        padding-bottom: 10px;
      }

      .keep-button {
        @extend %keep-accept-reject-buttons;
        margin-left: 100px;
        background-color: #52cc52;
        padding-right: 35px;
        padding-left: 35px;

        &:hover {
          background-color: darken(#52cc52, 10%)
        }

        &.stuck {
          margin-left: 45%;
        }
      }

      .accept-button {
        @extend %keep-accept-reject-buttons;
        margin-left: 100px;
        background-color: #52cc52;
        padding-right: 29px;
        padding-left: 29px;

        &:hover {
          background-color: darken(#52cc52, 10%)
        }

        &.stuck {
          margin-left: 45%;
        }
      }

      .reject-button {
        @extend %keep-accept-reject-buttons;
        margin-left: 20px;
        background-color: #ff6666;
        padding-right: 30px;
        padding-left: 30px;

        &:hover {
          background-color: darken(#ff6666, 10%)
        }

        &.stuck {
        }
      }

      .applicant-status {
        text-align: center;
      }
    }
  }

  .rating {
    padding-bottom: 10px;
    p {
      display: inline-block;
      font-size: 14px;
    }

    .rating-dropdown {
      font-size: 16px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .notes-section {
    height: 390px;
    margin-top: 10px;

    .notes-header {
      margin-top: 50px;
      color: #666688;
      padding-left: 15px;
      padding-top: 15px;
    }

    .notebox {
      // border: 2px solid #eee;
      height: 300px;
      margin-top: 10px;
      overflow-x: hidden;
      border-radius: 3px;
      
      .notes-list {
        padding: 5px;
        max-height: 232px;
        overflow-x: hidden;
        word-wrap: break-word;

        li {
          border-bottom: 1px solid #eee;
          padding: 5px 0px;
        }

        .note-created-at {
          color: #b7b7b7;
          font-style: italic;
          display: inline-block;
          margin-bottom: 5px;
          margin-top: 5px;
        }

        .note-content {
          font-weight: 500;
          display: inline-block;
          padding-left: 3px;
          margin-bottom: 5px;
          margin-top: 5px;
        }
      }

      .new_note {
        left: 0;
        bottom: 0;
        position: absolute;
        width: 793px;
        display: inline-block;
        background-color: #eee;
        padding: 10px 10px;
        overflow:hidden;

        #note_content {
          width: 650px;
          height: 28px;
          margin-top: 5px;
          border-radius:3px;
          border: 1px solid #ddd;
          padding: 3px;
        }

        .note-submit {
          @extend %teal-button;
          border: 0px;
          margin-right: 10px;
          margin-top: 0px;
          padding-left: 10px;
          padding-right: 10px;
          font-size: 14px;
        }
      }
    }
  }

  .resume-section {
    margin-top: 40px;
    padding-bottom: 20px;

    .resume-header {
      color: #666688;
      padding-left: 15px;
      height: 20px;
    }

    iframe {
      width: 826px;
      height: 1025px;
      border: none;
      left:-15px;
      position: relative;
      margin-top: 20px;
    }

    .no-resume {
      font-style: italic;
    }
  }
}

.all-prospects {
  margin: 0 auto;
  position: relative;
  width: 924px;
  margin-top: 40px;

  .prospect-search-bar {
    height: 50px;
    font-size: 18px;
    font-family: 'Noto Sans', sans-serif;
    margin-top: 50px;
    border: 2px solid #76b93e;
    border-right: none;
  }

  .prospect-search-submit {
    height: 50px;
    margin-top: 50px;
  }

  .prospects-results {
    margin-top: 30px;

    .prospect-list-headers {
      margin-bottom: 20px;
      font-weight: 600;

      li{
        display: inline-block;
        font-size: 16px;
      }

      .quick-view {
          padding-left: 70px;
        }
      }

    ul {
      margin-bottom: 0px;
    }

    a {
      text-decoration: none;
      background-color: none;
      width: 100%;

      &:hover {
        background-color: transparent;
        color: black;
      }

      .prospect {
        list-style: none;
        border-bottom: 1px solid #D0D0D0;
        width: 100%;
        padding: 10px 0px;
        color: #666;

        &:hover {
          background-color: #e7e7e7;
        }

        .prospect-name {
          font-weight: 600;
        }

        .current-role {
          p{
            display: inline-block;
          }
        }

        .fa-eye {
          float: right;
          padding-right: 15px;
        }
      }
    }
  }
}

.billing {
  position: relative;
  height: 1000px;

  .billing-form {
    margin: 0 auto;
    position: relative;
    width: 924px;
    margin-top: 40px;
    height: 400px;

    .cc-header {
      margin-top: 60px;
    }

    .cardInfo {
      margin-top: 10px;
      background-color: #f8f9fb;

      .card-number, .cvc {
        @extend %form-fields;
        height: 38px;
        font-weight: 400;
        font-size: 14px;
        color: #515357;
        display: inline-block;
      }

      .card-number {
        width: 380px;
      }

      .cvc {
        width: 50px;
      }

      label {
        display: block;
        font-size: 16px;
        font-family: 'Noto Sans', sans-serif;
      }

      .cardInfo-cardDetails {
        margin-top: 10px;
      }

      .identified{
        border-color:#2ecc71;
      }

      .cardInfo__cc-exp {
        height: 52px;
      }
       
      .identified:focus{
        border-color:#2ecc71;
        box-shadow: 0 0 .1875em #2ecc71;
      }
       
      .cc-num__wrap{
        position:relative;
      }
       
      .card {
        position:absolute;
        display:block;
        right:.375em;
        margin-top: 13px;
        width:28px;
        height:19px;
        background:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjEwMHB4IiBoZWlnaHQ9IjEwMHB4IiB2aWV3Qm94PSIwIDAgMTAwIDEwMCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTAwIDEwMCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxnPgoJPGc+CgkJPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0zLjExMSw3Ni4yOTZjMCwyLjg0NCwyLjMwNSw1LjE0OCw1LjE0Nyw1LjE0OGg4MS44OTEgICAgYzIuODQxLDAsNS4xNDctMi4zMDUsNS4xNDctNS4xNDh2LTMyLjg5SDMuMTExVjc2LjI5NnogTTY5LjY3OSw1NS42OTdoMTUuOTE0djE1LjkxNEg2OS42NzlWNTUuNjk3eiBNOTAuMTQ5LDE3LjUwM0g4LjI1OCAgICBjLTIuODQyLDAtNS4xNDcsMi4zMDUtNS4xNDcsNS4xNDd2Ny42OTNoOTIuMTg2VjIyLjY1Qzk1LjI5NywxOS44MDgsOTIuOTksMTcuNTAzLDkwLjE0OSwxNy41MDN6Ii8+Cgk8L2c+CjwvZz4KPC9zdmc+) no-repeat center center;
        background-size: 100%;
      }
       
      .cardInfo-cc__exp,
      .cardInfo-cc__cvc{
        float:left;
        max-width:4.875em;
      }
       
      .cardInfo-cc__exp{
        margin-right:.75em;
      }
       
      .cc-num.visa + .card{
        background:url('visa.png') no-repeat center center;
      }
       
      .cc-num.amex + .card{
        background:url('amex.png') no-repeat center center;
      }
       
      .cc-num.mastercard + .card{
        background:url('mastercard.png') no-repeat center center;
      }
       
      .cc-num.diners + .card{
        background:url('diners.png') no-repeat center center;
      }
       
      .cc-num.discover + .card{
        background:url('discover.png') no-repeat center center;
      }

      .cardInfo__submission {
        height: 50px;
        float: left;
      }

      #cc-num, #cc-exp, #cc-cvc  {
        display: block;
        margin-top: .35em;
        padding: .35em;
        background: #fff;
        border: solid 1px #ccc;
        border-radius: .1875em;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
        -webkit-font-smoothing: antialiased;
        margin-bottom: 15px;
        height: 34px;
      }

      #cc-exp {
        display: inline-block;
        margin-right: 12px;
      }

      #cc-num__wrap {
      background: #333131;
      color: #fefbe3;
      text-shadow: none;
      }

      .pay-button {
        background: #2ecc71;
        border: solid 1px #29b765;
        padding: .375em .5em;
        color: #fff;
        height: 36px;
        font-size: 14px;
        border-radius: .1875em;
        @extend %transition;

        &:hover {
          background-color: darken(#2ecc71, 10%)
        }
      }

      .cancel-link {
        background-color: transparent;
        margin-left: 10px;
        position: absolute;
        margin-top: 10px;

        &:hover {
          color: darken(#666, 10%);
        }
      }
    }
  }

  .pricing {
    height: 500px;
    margin: 0 auto;
    position: relative;
    width: 924px;
    margin-top: 40px;

    .pricing-header {
      text-align: center;
    }

    .pricing-subheader {
      text-align: center;
    }

    .price {
      font-family: 'Noto Sans', sans-serif;
      text-align: center;
      border-top: 1px solid #aaa;
      border-bottom: 1px solid #aaa;
      display: inline-block;
      padding: 20px 0px;
      font-size: 46px;

      .per-month {
        font-size: 16px;
      }
    }

    .questions {
      height: 250px;

      .part-a, .part-b {
        height: 250px;
      }
    }
  }  
}

.edit-page {
  min-height: 400px;
  position: relative;

  .edit-form {
    margin: 0 auto;
    position: relative;
    // width: 924px;
    margin-top: 40px;

    #user_name, #user_email, #user_password, #user_password_confirmation, #user_current_password {
      @extend %form-fields;
      height: 38px;
      width: 380px;
      font-weight: 400;
      font-size: 14px;
      color: #515357;
    }

    .finish-editing-button {
      @extend %teal-button;
      margin-right: 0px;
      margin-top: 40px;
      border-left: 0px;
      border-top: 0px;
      border-right: 0px;
      float: none;
      -webkit-font-smoothing: antialiased;
    }

    .cancel-account {
      margin-top: 50px;

      .button {
        color: lighten(red, 20%);
        border: none;
        background-color: transparent;

        &:hover {
          color: red;
        }
      }
    }
  }

  .upload-logo {
    margin-top: 40px;

    .finish-editing-button {
      @extend %teal-button;
      margin-right: 0px;
      margin-top: 40px;
      border-left: 0px;
      border-top: 0px;
      border-right: 0px;
      float: none;
      -webkit-font-smoothing: antialiased;
    }

    .logo-info {
      margin-top: 10px;
    }
  }
}

.thank-you-page {
  background-color: #f8f9fb;
  text-align: center;

  .thank-you-main {
    margin-top: 50px;
    font-family: 'Noto Sans', sans-serif;

    h4 {
      margin-top: 30px;
    }
  }
}

// $switchTransition: .15s ease-out;

// .switch {
//   position: relative;
//   margin-top: 30px;
//   display: inline-block;
//   vertical-align: top;
//   width: 96px;
//   height: 22px;
//   padding: 3px;
//   background-color: #F8F8F8;
//   border-radius: 18px;
//   box-shadow: inset 0 -1px #F8F8F8,
//               inset 0 1px 1px rgba(black, .05);
//   cursor: pointer;
// }

// .switch-input {
//   position: absolute;
//   top: 0;
//   left: 0;
//   opacity: 0;
// }

// .switch-label {
//   position: relative;
//   display: block;
//   height: inherit;
//   font-size: 10px;
//   text-transform: uppercase;
//   background: #47a8d8;
//   border-radius: inherit;
//   box-shadow: inset 0 1px 2px rgba(black, .12),
//               inset 0 0 2px rgba(black, .15);

//   &:before, &:after {
//     position: absolute;
//     top: 50%;
//     margin-top: -.5em;
//     line-height: 1;
//   }

//   &:before {
//     content: attr(data-on);
//     right: 11px;
//     color: #F8F8F8;
//     text-shadow: 0 1px rgba(black, .2);
//   }

//   &:after {
//     content: attr(data-off);
//     left: 11px;
//     color: #aaa;
//     text-shadow: 0 1px rgba(#F8F8F8, .5);
//     opacity: 0;
//   }

//   .switch-input:checked ~ & {
//     background: #eceeef;
//     box-shadow: inset 0 1px 2px rgba(black, .15),
//                 inset 0 0 3px rgba(black, .2);
//     &:before { opacity: 0; }
//     &:after { opacity: 1; }
//   }
// }

// .switch-handle {
//   position: absolute;
//   top: 5px;
//   left: 4px;
//   width: 18px;
//   height: 18px;
//   background: #F8F8F8;
//   border-radius: 10px;
//   box-shadow: 1px 1px 5px rgba(black, .2);
//   @include transition(left #{$switchTransition});

//   &:before {
//     content: '';
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     margin: -6px 0 0 -6px;
//     width: 12px;
//     height: 12px;
//     background: #f9f9f9;
//     border-radius: 6px;
//     box-shadow: inset 0 1px rgba(black, .02);
//   }

//   .switch-input:checked ~ & {
//     left: 73px;
//     box-shadow: -1px 1px 5px rgba(black, .2);
//     border-radius: 1px solid #aaa;
//   }
// }
