<div class="side-nav col-md-1">
  <nav class="nav-buttons">
    <ul class="nav-list">
      <li>
        <%= link_to company_jobs_url(current_company.id) do %>
          <i class="fa fa-folder-open"></i>
          <span class="category">JOBS</span>
        <% end %>
      </li>

      <% if current_company.jobs.present? %>
        <% current_company.jobs.order("created_at DESC").each do |opening| %>
          <li class="job-opening-link">
            <%= link_to opening.title, company_job_url(:id => opening.id, company_id: current_company.id) %>
          </li>
        <% end %>
      <% end %>
      
      <li>
        <%= link_to company_prospects_url(current_company) do %>
          <i class="fa fa-users"></i>
          <span class="category">PROSPECTS</span>
        <% end %>
      </li>

      <li>
        <%= link_to edit_user_registration_path do %>
          <i class="fa fa-cogs"></i>
          <span class="category">SETTINGS</span>
        <% end %>
      </li>
    
    </ul>
  </nav>
</div>