<% content_for :layout_class do %>application<% end %>

<% content_for :content do %>
<%#= render 'layouts/messages' %>

<div class="container">
  <div class="content">
    <%= render 'layouts/side_nav' %>
    <div class="main col-md-11 col-md-offset-1">
      <%= yield %>
    </div>
  </div>
</div>

<% end %>

<%= render template: "layouts/base" %>
